# Ignore virtual environment and site-packages
.venv/

# Ignore model weights
*.pt

# Ignore large video files
*.avi

# Ignore DLLs and lib files
*.dll
*.lib
output_videos/output_video.avi
runs/detect/predict/08fd33_4.avi
runs/detect/predict2/08fd33_4.avi
